<h1>Your profile</h1>

<% if @editable %>
  <%= render 'edit_form' %>
<% else %>
  <p><strong>first_name:</strong> <%= @user.first_name %></p>
  <p><strong>last_name:</strong> <%= @user.last_name %></p>
  <p><strong>birth_date:</strong> <%= @user.birth_date %></p>
  <p><strong>city:</strong> <%= @user.city %></p>
  <p><strong>description:</strong> <%= @user.description %></p>
  <%= link_to 'edit', my_profile_path(edit: true) %> <!-- go to _edit_form -->
<% end %>
<div>
<h1>Your own events:</h1>
<% @your_own_events.each do |event| %>
  <div>
    <% unless event.registrations.empty? %>
      <br>
      <%@registrations.each do |registration|  %>
        <%= "#{registration.status}"  %>
      <%= link_to 'Accept', accept_event_registration_path(event, registration), data: { turbo_method: :patch } %>
      <% end %>
      <br>
    <% end %>
    <%= "#{event.title}"%>
    <br>
  </div>
  <br>
<% end %>

<%= link_to 'View Favorites', favorites_path %>
<%= link_to 'Events', event_registrations_path(@registrations) %>
