<div>
<h1>Vos informations</h1>
  <div>
  <form action="/submit" method="post">
    <label for="Nom de famille">Nom de famille:</label>
    <br>
    <input type="text" id="last_name" name="last_name" required>
    <br>
    <label for="Prénom">Prénom:</label>
    <br>
    <input type="text" id="first_name" name="first_name" required>
    <br>
    <label for="Ville">Ville:</label>
    <br>
    <input type="text" id="city" name="city" required>
    <br>
    <label for="photo">Photo profil:</label>
    <br>
    <input type="file" id="photo" name="photo" accept="image/*">
    <br>
    <button type="submit">Mettre à jour</button>
  </form>
  </div>
<br>
  <div>
  <h1>Vos événments à valider:</h1>
  <% @your_own_events.each do |event| %>
    <div>
      <% unless event.registrations.empty? %>
        <br>
      <%= "#{event.title}" %>
      <br>
        <% event.registrations.each do |registration| %>
          <%= "#{registration.user.first_name} à demandé de rejoindre cette événment" %>
          <br>
          <%= "La demande est #{registration.status}" %>
          <br>
          <%= link_to 'Accept', accept_event_registration_path(event, registration), data: { turbo_method: :patch }%>
          <%= link_to 'Rejet', reject_event_registration_path(event, registration), data: { turbo_method: :patch } %>
        <% end %>
        <br>
      <% end %>
      <br>
    </div>
    <br>
  <% end %>
  </div>
  <div>
  <h3>Vos favoris</h3>
  <% @favorite_events.each do |favorite| %>
    <div>
      <p><strong><%= link_to favorite.title, event_path(favorite) %></strong> </p>
      <p>Prochaine session: <%= favorite.event_date %></p>
    </div>
  <% end %>
  </div>

  <%= link_to 'Evénements', event_registrations_path(@registrations) %>
</div>
