<div class= "container">
<h1>Vos informations</h1>
  <div class= "container">
  <form action="/submit" method="post">

    <label for="Nom de famille">Nom de famille:</label>
    <br>
    <input type="text" id="last_name" name="last_name" required>
    <br>
    <label for="Prénom">Prénom:</label>
    <br>
    <input type="text" id="first_name" name="first_name" required>
    <br>
    <label for="Ville">Ville:</label>
    <br>
    <input type="text" id="city" name="city" required>
    <br>
    <label for="photo">Photo profil:</label>
    <br>
    <input type="file" id="photo" name="photo" accept="image/*">
    <br>
    <button type="submit">Mettre à jour</button>
  </form>
  </div>

  <div class= "container">
  <h1>Vos événments à valider:</h1>
  <% @your_own_events.each do |event| %>
    <div>
      <% unless event.registrations.empty? %>
        <br>
      <%= "#{event.title}" %>
      <br>
        <% event.registrations.each do |registration| %>
          <%= "#{registration.user.first_name} à demandé de rejoindre cette événment" %>
          <br>
          <%= "La demande est #{registration.status}" %>
          <br>
          <%= link_to 'Acceptée', accept_event_registration_path(event, registration), data: { turbo_method: :patch } %>
          <%= link_to 'Rejetée', reject_event_registration_path(event, registration), data: { turbo_method: :patch } %>
        <% end %>
        <br>
      <% end %>
      <br>
    </div>
    <br>
  <% end %>
  </div>

  <div class= "container">
  <h3>Vos favoris</h3>
  <% @favorite_events.each do |favorite| %>
    <div class="favorite-event">
      <h2><%= link_to favorite.event.title, event_path(favorite.event) %></h2>
      <p><strong>Event date:</strong> <%= favorite.event.event_date %></p>
      <p><strong>City:</strong> <%= favorite.event.city %></p>
      <p><strong>Info:</strong> <%= favorite.event.short_description %></p>
      <p><strong>Limit participants:</strong> <%= favorite.event.limit_participants %></p>
    </div>
  <% end %>
  </div>

  <%= link_to 'Evénements', event_registrations_path(@registrations) %>
</div>
