<div class="header-back">
  <%= link_to events_path do %>
    <%= image_tag "https://res.cloudinary.com/dn2p7hun2/image/upload/v1701342794/ubz1svndcbosxqlhqzaq.svg" %>
    <p>retour</p>
  <% end %>
</div>

<div class="form-container margin-60">
  <h2 class="page-title-no-margin margin60 margin-bottom40">Vos événements</h2>
    <% @your_own_events.each do |event| %>
        <%= link_to event_path(event), class: "link-style" do %>
          <p class="card-title"><%= event.title %></p>
          <p class="description">Prochaine session : <%= l(event.event_date, format: "%A %e %B %Y", locale: :fr).capitalize %></p>
        <% end %>
    <% end %>
</div>

<div class="form-container">
  <h2 class="page-title-no-margin margin-bottom40">Vos événements à valider</h2>
  <% @your_own_events.each do |event| %>
    <% unless event.registrations.empty? %>
      <% event.registrations.each do |registration| %>
        <% if registration.status == "pending" %>
          <div class="registration-confirmation">
              <div class="card-title"><%= "#{event.title}" %></div>
              <div class= "description"><%= "#{registration.user.first_name} a demandé à rejoindre cet événement" %></div>
              <div class="accept-block">
                <%= link_to 'Accepter', accept_event_registration_path(event, registration), data: { turbo_method: :patch }, class: "button-secondary-accept" %>
                <%= link_to 'Refuser', reject_event_registration_path(event, registration), data: { turbo_method: :patch }, class: "button-secondary-reject" %>
              </div>
            <div class="empty-container-40"></div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>

<div class="form-container">
  <h2 class="page-title-no-margin margin-bottom40">Vos favoris</h2>
  <% @favorite_events.each do |favorite| %>
    <%= link_to event_path(favorite), class: "link-style" do %>
      <p class="card-title"><%= favorite.title %></p>
      <p class="description">Prochaine session : <%= l(favorite.event_date, format: "%A %e %B %Y", locale: :fr).capitalize %></p>
    <% end %>
  <% end %>
</div>

<h1 class="page-title margin60">Vos informations</h1>

<div class="form-container">
  <%= render "users/form", user: @user, event: @event %>
</div>

<%= link_to "Déconnexion", destroy_user_session_path, data: { turbo_method: :delete }, class: "button-deconnexion" %>
