<div class="header-back">
  <%= link_to events_path do %>
    <%= image_tag "https://res.cloudinary.com/dn2p7hun2/image/upload/v1701342794/ubz1svndcbosxqlhqzaq.svg" %>
    <p>retour</p>
  <% end %>
</div>

<h1 class="page-title margin60">Vos informations</h1>

<div class="form-container">
  <%= render "users/form", user: @user, event: @event %>
</div>

<div class="form-container">
  <h2 class="page-title-no-margin margin60">Vos événements</h2>
    <% @your_own_events.each do |event| %>
      <p class="card-title"><%= event.title %></p>
      <p class="description">Prochaine session : <%= l(event.event_date, format: "%A %e %B %Y", locale: :fr).capitalize %></p>
    <% end %>
</div>

<div class="form-container">
  <h2 class="page-title-no-margin margin60">Vos événements à valider</h2>
  <% @your_own_events.each do |event| %>
    <% unless event.registrations.empty? %>
      <%= "#{event.title}" %>
      <% event.registrations.each do |registration| %>
        <%= "#{registration.user.first_name} a demandé à rejoindre cet événement" %>
        <%= "La demande est #{registration.status}" %>
        <%= link_to 'Accept', accept_event_registration_path(event, registration), data: { turbo_method: :patch }%>
        <%= link_to 'Rejet', reject_event_registration_path(event, registration), data: { turbo_method: :patch } %>
      <% end %>
    <% end %>
  <% end %>
</div>

<div class="form-container">
  <h2 class="page-title-no-margin margin60">Vos favoris</h2>
  <% @favorite_events.each do |favorite| %>
    <%= link_to event_path(favorite), class: "link-style" do %>
      <p class="card-title"><%= favorite.title %></p>
      <p class="description">Prochaine session : <%= l(favorite.event_date, format: "%A %e %B %Y", locale: :fr).capitalize %></p>
    <% end %>
  <% end %>
</div>

<%= link_to "Déconnexion", destroy_user_session_path, data: { turbo_method: :delete }, class: "button-deconnexion" %>
