<div>
<h1>Vos informations</h1>
  <div>
    <%= render "users/form", user: @user, event: @event %>
  </div>
<br>
  <div>
  <h1>Vos événments à valider:</h1>
  <% @your_own_events.each do |event| %>
    <div>
      <% unless event.registrations.empty? %>
        <br>
      <%= "#{event.title}" %>
      <br>
        <% event.registrations.each do |registration| %>
          <%= "#{registration.user.first_name} à demandé de rejoindre cette événment" %>
          <br>
          <%= "La demande est #{registration.status}" %>
          <br>
          <%= link_to 'Accept', accept_event_registration_path(event, registration), data: { turbo_method: :patch }%>
          <%= link_to 'Rejet', reject_event_registration_path(event, registration), data: { turbo_method: :patch } %>
        <% end %>
        <br>
      <% end %>
      <br>
    </div>
    <br>
  <% end %>
  </div>
  <div>
  <h3>Vos favoris</h3>
  <% @favorite_events.each do |favorite| %>
    <div>
      <p><strong><%= link_to favorite.title, event_path(favorite)%></strong></p>
      <p>Prochaine session: <%= favorite.event_date %></p>
    </div>
  <% end %>
  </div>

  <%= link_to 'Evénements', event_registrations_path(@registrations) %>
  <%= link_to 'Déconnexion', destroy_user_session_path, method: :delete %>
</div>
