<% @events.each do |event| %>
  <div class="event-container">
  <div class="event">
    <div class="top-card">
      <div class="calendar">
        <img src="https://res.cloudinary.com/dn2p7hun2/image/upload/v1701356565/card-calendar_bmkf1v.svg" alt="">
<p class="small-infos">
  <%= l(event.event_date, format: "%A %e %B %Y", locale: :fr).capitalize %>
</p>

      </div>

        <% if user_signed_in? %>
          <% favorite = current_user.favorites.find_by(event: event) %>
          <% if favorite %>
            <%= link_to event_favorite_path(event, favorite), method: :delete, data: { turbo_method: :delete } do %>
              <img src="https://res.cloudinary.com/dn2p7hun2/image/upload/v1701356566/card-heart-full_lbb9qf.svg" alt="">
            <% end %>
          <% else %>
            <%= link_to event_favorites_path(event), method: :post, data: { turbo_method: :post } do %>
              <img src="https://res.cloudinary.com/dn2p7hun2/image/upload/v1701356566/card-heart-empty_bwu2o9.svg" alt="">
            <% end %>
          <% end %>
        <% end %>
    </div>

    <%= link_to event_path(event), class: "card-click" do %>
      <p class="card-category"><%= event.category.name.upcase%></p>
      <h2 class="card-title"><%= event.title %></h2>
      <p class="description"><%= event.short_description %></p>

      <div class="bottom-card">
        <div class="map">
          <img src="https://res.cloudinary.com/dn2p7hun2/image/upload/v1701356564/card-pin_olzpve.svg" alt="">
          <p class="small-infos"><%= event.city %></p>
        </div>

 <div class="participants">
      <p class="small-infos">
        <% if event.participants_count != nil %>
          Places occupées : <strong><%= event.participants_count %></strong> /
        <% else %>
          Places occupées : <strong>0</strong> /
        <% end %>

        <% if event.limit_participants == -1 %>
          Illimité
        <% else %>
          <%= event.limit_participants %>
        <% end %>
      </p>
      <img src="https://res.cloudinary.com/dn2p7hun2/image/upload/v1701356749/card-participants_n7yaje.svg" alt="">
    </div>

      </div>
    <% end %>
  </div>
    <div class="bottom-line"></div>
  </div>
<% end %>
