<% @events.each do |event| %>
  <div class="event">
    <p><strong>Event date:</strong> <%= event.event_date %></p>
    <p><%= event.category.name%></p>
    <% if user_signed_in? %>
      <% favorite = current_user.favorites.find_by(event: event) %>
      <% if favorite %>
        <%= link_to 'Remove from Favorites', event_favorite_path(event, favorite), method: :delete, data: { turbo_method: :delete } %>
      <% else %>
        <%= link_to 'Add to Favorites', event_favorites_path(event), method: :post, data: { turbo_method: :post } %>
      <% end %>
    <% end %>
    <h2><%= link_to event.title, event_path(event) %></h2>
    <p><strong>Ville:</strong> <%= event.city %></p>
    <p><%= event.short_description %></p>
    <p><strong>Places Restantes:</strong> <%= event.limit_participants %></p>
  </div>
<% end %>

<%= link_to 'Créer un événement', new_event_path %>
