<!--

<div class="form-container">
  <%= form_for @event do |f| %>
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div class="field">
      <%= f.label :address %>
      <%= f.text_field :address %>
    </div>

    <div class="field">
      <%= f.label :city %>
      <%= f.text_field :city %>
    </div>

    <div class="field">
      <%= f.label :short_description %>
      <%= f.text_field :short_description %>
    </div>

    <div class="field">
      <%= f.label :long_description %>
      <%= f.text_area :long_description %>
    </div>

    <div class="field">
      <%= f.label :event_date %>
      <%= f.date_field :event_date %>
    </div>

    <div class="field">
      <%= f.label :limit_participants %>
      <%= f.number_field :limit_participants %>
    </div>

    <div class="field">
      <%= f.label :category_id %>
      <%= f.collection_select :category_id, Category.all, :id, :name %>
    </div>

    <div class="actions">
      <%= f.submit 'Create event' %>
    </div>
  <% end %>
</div>

//-->


<%= simple_form_for @event do |f| %>
  <%= f.input :title,
              autofocus: true,
              required: true,
              label: "Titre",
              error: 'Merci de préciser votre titre' %>
  <%= f.input :address,
              label: "Adresse",
              required: true,
              error: 'Merci de préciser votre adresse' %>
  <%= f.input :city,
              label: "Ville",
              required: true,
              error: 'Merci de préciser votre ville' %>
  <%= f.input :short_description,
              label: "Description courte",
              placeholder: 'Résumez votre événement en 1 phrase',
              as: :text, input_html: { data: { }, class: "short-input-field" },
              required: true,
              error: 'Merci de préciser votre description' %>
  <%= f.input :long_description,
              label: "Description longue",
              placeholder: 'Décrivez en détail votre événement',
              as: :text, input_html: { data: { }, class: "input-field" },
              error: 'Merci de préciser votre description' %>
  <%= f.input :event_date,
              label: "Date de l'événement",
              required: true,
              as: :date %>
  <%= f.input :limit_participants,
              required: true,
              label: "Nombre de participants maximum" %>
  <%= f.input :category_id, label: 'Choisissez une catégorie :', collection: Category.all, as: :select, include_blank: false %>
  <%= f.input :photo,
              required: true,
              label: "Ajouter une photo",
              as: :file %>
  <%= f.button :submit,
              "Créer l'événement",
              class: "button-primary-register-no-margin a-style margin60" %>
<% end %>
