<%= render "shared/navbar" %>

<h1><%= @event.title %></h1>

<div>
  <p><strong>Address:</strong> <%= @event.address %></p>
  <p><strong>City:</strong> <%= @event.city %></p>
  <p><strong>Event Date:</strong> <%= @event.event_date %></p>
  <p><strong>Info:</strong> <%= @event.long_description %></p>
  <p><strong>Limit:</strong> <%= @event.limit_participants %></p>
  <p><strong>Category:</strong> <%= @event.category.name %></p>
</div>

<% if current_user == @event.user %>
  <%= link_to 'delete', event_path(@event), data: { turbo_method: :delete } %>
<% end %>

<% if current_user == @event.user %>
  <%= link_to 'edit', edit_event_path(@event) %>
<% end %>

<%= link_to 'back to events', events_path %>
<br>
<%= link_to 'register for this event', new_event_registration_path(@event) %>
