<%= render partial: 'events/header' %>

<div class="event-window">
  <div class="header-back">
    <%= link_to events_path do %>
      <%= image_tag "https://res.cloudinary.com/dn2p7hun2/image/upload/v1701342794/ubz1svndcbosxqlhqzaq.svg" %>
      <p>retour</p>
    <% end %>
  </div>
      <h1 class="page-title"><%= @category.name %></h1>
      <%= cl_image_tag @category.photo.key, height: 225, width: 500, crop: :fill, class:"category-image" %>
      <p class="chapo margin-event"><%= "Retrouvez ci-dessous tous les événements liés à la catégorie “#{@category.name}”" %></p>

  <div data-view-switcher-target="events">
    <%= render partial: 'events/events_list', locals: { events: @events } %>
  </div>
</div>
